<h1 class="title">LETS MAKE SOME YOU ALCOHOLIC</h1>

<div class="container">
  <%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>
<!--   <%= f.association :ingredients %>
 --> <%= f.button :submit, class: "btn btn-warning"%>
  <% end %>
</div>
